@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
}

body {
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    width: 625px;
    height: 455px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    transform: translate(100%, 50%);
    opacity: 0.8;
    border-radius: 12px;
}

.upper-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.temp {
    font-weight: bolder;
    font-size: 65px;
    color: #004b13;
}

.type {
    font-weight: 550;
    font-size: 35px;
    color: black;
}

.lower-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 55px;
    font-size: 15px;
    font-weight: bold;
    padding: 28px;
}

.real {
    font-size: 25px;
}

.hmd {
    font-size: 25px;
}

.prse {
    font-size: 25px;
}

.speed {
    font-size: 25px;
}

.r,
.p,
.s,
.h {
    color: #858585;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.status {
    display: flex;
    align-items: center;
    gap: 17px;
}

.head {
    position: relative;
    top: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search {
    width: 225px;
    height: 45px;
    border-radius: 32px;
    border: none;
    font-size: 19px;
    opacity: 0.8;
}

#search:hover {
    opacity: 1;
}

.btn {
    width: 125px;
    height: 45px;
    border-radius: 32px;
    border: none;
    font-size: 19px;
    background-color: #113019;
    color: #ffffff;
    font-weight: bolder;
}

h1 {
    position: relative;
    top: 280px;
    color: #ffffff;
    text-align: center;

}

.time {
    width: 224px;
    font-size: 80px;
    font-weight: bolder;
}

.extra {
    background-color: grey;
    border-radius: 12px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
    bottom: 227px;
    left: 138px;
    width: 345px;
    height: 455px;
}

.box1 {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.box2 {
    display: flex;
    align-items: baseline;
    position: relative;
    left: 34px;
}

.zone {
    font-size: 35px;
    font-weight: bold;
}

.box3 {
    width: 64px;
    height: 64px;
    position: relative;
    top: 455px;
    left: 906px;
    z-index: 1;
}

.month {
    font-size: 60px;
    font-weight: bolder;
    color: #004b13;
}

.day {
    color: #113019;
    font-size: 199px;
    font-weight: bolder;
    height: 245px;
    position: relative;
    left: 86px;
}

.year {
    font-size: 25px;
    font-weight: bolder;
}

.week {
    font-size: 25px;
    font-weight: bolder;
}

